*.zip

# Binaries for programs and plugins
*.exe
*.zip
*_debug_bin
testing/
*.vscode/
*.exe~
*.dll
*.so
*.dylib
main

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.Rproj.user
*.Rproj